In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
basic_file = 'Resources/Basic_Stats.csv'
basic_stats = pd.read_csv(basic_file)
basic_stats.head()

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

In [6]:
def_file = 'Resources/Career_Stats_Defensive.csv'
def_stats = pd.read_csv(def_file)
def_stats.head()

,Player Id,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
0,quinnjohnson/79593,"Johnson, Quinn",NaN,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
1,quinnjohnson/79593,"Johnson, Quinn",NaN,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--,0.0,--
2,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
3,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--,0.0,--
4,quinnjohnson/79593,"Johnson, Quinn",NaN,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--,0.0,--

In [7]:
pass_file = 'Resources/Career_Stats_Passing.csv'
pass_stats = pd.read_csv(pass_file)
pass_stats.head()

,Player Id,Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,...,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
0,tomfarris/2513861,"Farris, Tom",NaN,1948,Chicago Rockets,0,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
1,tomfarris/2513861,"Farris, Tom",NaN,1947,Chicago Bears,9,2,0,0.0,0.2,...,0,0.0,0,0.0,--,0,0,0,0,39.6
2,tomfarris/2513861,"Farris, Tom",NaN,1946,Chicago Bears,11,21,8,38.1,1.9,...,1,4.8,2,9.5,--,0,0,0,0,31.5
3,billdemory/2512778,"Demory, Bill",NaN,1974,New York Jets,1,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
4,billdemory/2512778,"Demory, Bill",NaN,1973,New York Jets,6,39,12,30.8,6.5,...,2,5.1,8,20.5,--,0,0,8,73,22.2

In [8]:
rec_file = 'Resources/Career_Stats_Receiving.csv'
rec_stats = pd.read_csv(rec_file)
rec_stats.head()

,Player Id,Name,Position,Year,Team,Games Played,Receptions,Receiving Yards,Yards Per Reception,Yards Per Game,Longest Reception,Receiving TDs,Receptions Longer than 20 Yards,Receptions Longer than 40 Yards,First Down Receptions,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,1,-2,-2.0,-0.7,--,0,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,--,--,0.0,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,--,--,0.0,--,--,--,--,--,--

In [9]:
rush_file = 'Resources/Career_Stats_Rushing.csv'
rush_stats = pd.read_csv(rush_file)
rush_stats.head()

,Player Id,Name,Position,Year,Team,Games Played,Rushing Attempts,Rushing Attempts Per Game,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Longest Rushing Run,Rushing First Downs,Percentage of Rushing First Downs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,10,3.3,15,1.5,5.0,0,--,--,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,0.0,--,--,--,--,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,0.0,--,--,--,--,--,--,--,--,--,--

### Brainstorming for data cleaning

In [39]:
print(f'Basic Stats: {basic_stats.columns}')
print(f'Def Stats: {def_stats.columns}')
print(f'Pass Stats: {pass_stats.columns}')
print(f'Rec Stats: {rec_stats.columns}')
print(f'Rush Stats: {rush_stats.columns}')

Basic Stats: Index(['Age', 'Birth Place', 'Birthday', 'College', 'Current Status',
       'Current Team', 'Experience', 'Height (inches)', 'High School',
       'High School Location', 'Name', 'Number', 'Player Id', 'Position',
       'Weight (lbs)', 'Years Played'],
      dtype='object')
Def Stats: Index(['Player Id', 'Name', 'Position', 'Year', 'Team', 'Games Played',
       'Total Tackles', 'Solo Tackles', 'Assisted Tackles', 'Sacks', 'Safties',
       'Passes Defended', 'Ints', 'Ints for TDs', 'Int Yards', 'Yards Per Int',
       'Longest Int Return'],
      dtype='object')
Pass Stats: Index(['Player Id', 'Name', 'Position', 'Year', 'Team', 'Games Played',
       'Passes Attempted', 'Passes Completed', 'Completion Percentage',
       'Pass Attempts Per Game', 'Passing Yards', 'Passing Yards Per Attempt',
       'Passing Yards Per Game', 'TD Passes', 'Percentage of TDs per Attempts',
       'Ints', 'Int Rate', 'Longest Pass', 'Passes Longer than 20 Yards',
       'Passes Longer than 40 Yards', 'Sacks', 'Sacked Yards Lost',
       'Passer Rating'],
      dtype='object')
Rec Stats: Index(['Player Id', 'Name', 'Position', 'Year', 'Team', 'Games Played',
       'Receptions', 'Receiving Yards', 'Yards Per Reception',
       'Yards Per Game', 'Longest Reception', 'Receiving TDs',
       'Receptions Longer than 20 Yards', 'Receptions Longer than 40 Yards',
       'First Down Receptions', 'Fumbles'],
      dtype='object')
Rush Stats: Index(['Player Id', 'Name', 'Position', 'Year', 'Team', 'Games Played',
       'Rushing Attempts', 'Rushing Attempts Per Game', 'Rushing Yards',
       'Yards Per Carry', 'Rushing Yards Per Game', 'Rushing TDs',
       'Longest Rushing Run', 'Rushing First Downs',
       'Percentage of Rushing First Downs', 'Rushing More Than 20 Yards',
       'Rushing More Than 40 Yards', 'Fumbles'],
      dtype='object')

In [40]:
basic_stats_reduced = basic_stats[['Player Id', 'Name', 'Number', 'Position', 'Years Played']]
basic_stats_reduced

                  Player Id            Name  Number Position Years Played
0         fredevans/2513736     Evans, Fred     NaN      NaN  1946 - 1948
1          jimraiff/2523700      Raiff, Jim     NaN      NaN  1954 - 1954
2       bobbyfowler/2514295   Fowler, Bobby     NaN      NaN  1985 - 1985
3        quinnjohnson/79593  Johnson, Quinn     NaN      NaN  2009 - 2013
4        l.t.walton/2552444    Walton, L.T.    96.0       DE          NaN
...                     ...             ...     ...      ...          ...
17167    rongoovert/2515082    Goovert, Ron     NaN      NaN  1967 - 1967
17168     j.d.folsom/238485    Folsom, J.D.     NaN      NaN  2009 - 2010
17169   jamiereader/2502599   Reader, Jamie     NaN      NaN  2001 - 2001
17170  solonbarnett/2509044  Barnett, Solon     NaN      NaN  1945 - 1946
17171  byronjohnson/2517578  Johnson, Byron     NaN      NaN  1987 - 1987

[17172 rows x 5 columns]

In [18]:
def_stats.dtypes

Player Id              object
Name                   object
Position               object
Year                    int64
Team                   object
Games Played            int64
Total Tackles          object
Solo Tackles           object
Assisted Tackles       object
Sacks                  object
Safties                object
Passes Defended        object
Ints                   object
Ints for TDs           object
Int Yards              object
Yards Per Int         float64
Longest Int Return     object
dtype: object

In [26]:
def_stats[['Total Tackles', 'Solo Tackles', 'Assisted Tackles', 'Sacks', 'Safties',
       'Passes Defended', 'Ints', 'Ints for TDs', 'Int Yards', 'Yards Per Int',
       'Longest Int Return']] = def_stats[['Total Tackles', 'Solo Tackles', 'Assisted Tackles', 'Sacks', 'Safties',
       'Passes Defended', 'Ints', 'Ints for TDs', 'Int Yards', 'Yards Per Int',
       'Longest Int Return']].apply(pd.to_numeric, errors='coerce')
def_stats.dtypes

Player Id              object
Name                   object
Position               object
Year                    int64
Team                   object
Games Played            int64
Total Tackles         float64
Solo Tackles          float64
Assisted Tackles      float64
Sacks                 float64
Safties               float64
Passes Defended       float64
Ints                  float64
Ints for TDs          float64
Int Yards             float64
Yards Per Int         float64
Longest Int Return    float64
dtype: object

In [27]:
def_stats_gb = def_stats.groupby(['Player Id'])

In [43]:
defense = def_stats_gb[['Games Played',
       'Total Tackles', 'Solo Tackles', 'Assisted Tackles', 'Sacks', 'Safties',
       'Passes Defended', 'Ints', 'Ints for TDs', 'Int Yards', 'Yards Per Int',
       'Longest Int Return']].sum()
defense

,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
Player Id,,,,,,,,,,,,
a'shawnrobinson/2555265,16,30.0,22.0,8.0,2.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0
a.j.bouye/2541162,50,140.0,117.0,23.0,1.0,0.0,32.0,6.0,1.0,129.0,44.5,76.0
a.j.edds/496921,17,14.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
a.j.feeley/2504566,28,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
a.j.francis/2541707,3,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
zakkeasey/2506323,20,13.0,10.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zaviargooden/2539264,32,43.0,30.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zeronflemister/2504039,60,21.0,17.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ziggyhood/2507780,114,197.0,124.0,73.0,13.5,0.0,10.0,0.0,0.0,0.0,0.0,0.0
zurlontipton/2550407,16,5.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
bouye = def_stats.loc[(def_stats['Player Id']== 'a.j.bouye/2541162'), :]
bouye

,Player Id,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
13467,a.j.bouye/2541162,"Bouye, A.J.",CB,2016,Houston Texans,15,63.0,48.0,15.0,1.0,NaN,16.0,1.0,0.0,0.0,0.0,0.0
13468,a.j.bouye/2541162,"Bouye, A.J.",CB,2015,Houston Texans,15,16.0,15.0,1.0,0.0,NaN,6.0,2.0,0.0,9.0,4.5,9.0
13469,a.j.bouye/2541162,"Bouye, A.J.",CB,2014,Houston Texans,14,59.0,52.0,7.0,0.0,0.0,10.0,3.0,1.0,120.0,40.0,67.0
13470,a.j.bouye/2541162,"Bouye, A.J.",CB,2013,Houston Texans,6,2.0,2.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN

In [55]:
# Sum of these defensive stats  **must reset_index() to keep Player Id as a column
defense = def_stats_gb[['Games Played',
       'Total Tackles', 'Solo Tackles', 'Assisted Tackles', 'Sacks', 'Safties',
       'Passes Defended', 'Ints', 'Ints for TDs', 'Int Yards', 'Yards Per Int',
       'Longest Int Return']].sum().reset_index()

print(defense.head())

# Max of these defensive stats
defense1 = def_stats_gb[['Yards Per Int',
       'Longest Int Return']].max().reset_index()

print(defense1.head())

# Recombine into new stats DF
defense_df = pd.merge(defense, defense1, on='Player Id', how='inner')
defense_df

                 Player Id  Games Played  Total Tackles  Solo Tackles  \
0  a'shawnrobinson/2555265            16           30.0          22.0
1        a.j.bouye/2541162            50          140.0         117.0
2          a.j.edds/496921            17           14.0           4.0
3       a.j.feeley/2504566            28            2.0           2.0
4      a.j.francis/2541707             3            2.0           1.0

   Assisted Tackles  Sacks  Safties  Passes Defended  Ints  Ints for TDs  \
0               8.0    2.0      0.0              7.0   0.0           0.0
1              23.0    1.0      0.0             32.0   6.0           1.0
2              10.0    0.0      0.0              0.0   0.0           0.0
3               0.0    0.0      0.0              0.0   0.0           0.0
4               1.0    0.0      0.0              0.0   0.0           0.0

   Int Yards  Yards Per Int  Longest Int Return
0        0.0            0.0                 0.0
1      129.0           44.5                76.0
2        0.0            0.0                 0.0
3        0.0            0.0                 0.0
4        0.0            0.0                 0.0
                 Player Id  Yards Per Int  Longest Int Return
0  a'shawnrobinson/2555265            0.0                 NaN
1        a.j.bouye/2541162           40.0                67.0
2          a.j.edds/496921            0.0                 NaN
3       a.j.feeley/2504566            0.0                 NaN
4      a.j.francis/2541707            0.0                 NaN

,Player Id,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int_x,Longest Int Return_x,Yards Per Int_y,Longest Int Return_y
0,a'shawnrobinson/2555265,16,30.0,22.0,8.0,2.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,a.j.bouye/2541162,50,140.0,117.0,23.0,1.0,0.0,32.0,6.0,1.0,129.0,44.5,76.0,40.0,67.0
2,a.j.edds/496921,17,14.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,a.j.feeley/2504566,28,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,a.j.francis/2541707,3,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4297,zakkeasey/2506323,20,13.0,10.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4298,zaviargooden/2539264,32,43.0,30.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4299,zeronflemister/2504039,60,21.0,17.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4300,ziggyhood/2507780,114,197.0,124.0,73.0,13.5,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4301,zurlontipton/2550407,16,5.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN