In [91]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
from sqlite3 import Error

In [92]:
basic_file = 'Resources/Basic_Stats.csv'
basic_stats = pd.read_csv(basic_file)

In [93]:
def_file = 'Resources/Career_Stats_Defensive.csv'
def_stats = pd.read_csv(def_file)

In [94]:
pass_file = 'Resources/Career_Stats_Passing.csv'
pass_stats = pd.read_csv(pass_file)

In [95]:
rec_file = 'Resources/Career_Stats_Receiving.csv'
rec_stats = pd.read_csv(rec_file)

In [96]:
rush_file = 'Resources/Career_Stats_Rushing.csv'
rush_stats = pd.read_csv(rush_file)

In [97]:
basic_stats_df = basic_stats[['Player Id',
                                   'Name',
                                   'Age', 
                                   'Birth Place', 
                                   'Birthday', 
                                   'College', 
                                   'Height (inches)', 
                                   'Weight (lbs)']]

In [98]:
id = basic_stats_df['Player Id'].str.split('/', n=1, expand=True)
basic_stats_df['id'] = id[1]

name = basic_stats_df['Name'].str.split(', ', n=1, expand=True)
basic_stats_df['First Name'] = name[1]
basic_stats_df['Last Name'] = name[0]

C:\Users\oberm\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\oberm\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\oberm\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [99]:
basic_stats_df = basic_stats_df[['id',
               'First Name',
                'Last Name',
               'Age', 
               'Birth Place', 
               'Birthday', 
               'College', 
               'Height (inches)', 
               'Weight (lbs)']]

In [100]:
basic_stats_df = basic_stats_df.rename(columns={'First Name':'First_Name',
                       'Last Name':'Last_Name',
                       'Birth Place':'Birth_Place', 
                        'Height (inches)': 'Height(inches)', 
                        'Weight (lbs)':'Weight(lbs)'})
basic_stats_df.head()

,id,First_Name,Last_Name,Age,Birth_Place,Birthday,College,Height(inches),Weight(lbs)
0,2513736,Fred,Evans,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,71.0,185.0
1,2523700,Jim,Raiff,NaN,"Dayton , OH",12/21/1930,Dayton,70.0,235.0
2,2514295,Bobby,Fowler,56.0,"Temple , TX",9/11/1960,Louisiana Tech,74.0,230.0
3,79593,Quinn,Johnson,30.0,"New Orleans , LA",9/30/1986,LSU,73.0,255.0
4,2552444,L.T.,Walton,25.0,"Detroit , MI",3/31/1992,Central Michigan,77.0,305.0

In [101]:
id = def_stats['Player Id'].str.split('/', n=1, expand=True)
def_stats['id'] = id[1]

name = def_stats['Name'].str.split(', ', n=1, expand=True)
def_stats['First Name'] = name[1]
def_stats['Last Name'] = name[0]

In [102]:
def_stats_df = def_stats[['id',
                          'First Name',
                          'Last Name',
                          'Position',
                          'Year',
                          'Team',
                          'Games Played',
                        'Total Tackles',
                          'Solo Tackles',
                          'Assisted Tackles',
                          'Sacks',
                          'Safties',
                           'Passes Defended',
                          'Ints',
                          'Ints for TDs',
                          'Int Yards',
                          'Yards Per Int',
                           'Longest Int Return']]

In [103]:
def_stats_df = def_stats_df.rename(columns={'First Name':'First_Name',
                          'Last Name':'Last_Name',
                          'Games Played':'Games_Played',
                        'Total Tackles':'Total_Tackles',
                          'Solo Tackles':'Solo_Tackles',
                          'Assisted Tackles':'Assisted_Tackles',
                           'Passes Defended':'Passes_Defended',
                          'Ints for TDs':'Ints_for_TDs',
                          'Int Yards':'Int_Yards',
                          'Yard Per Int':'Yards_Per_Int',
                           'Longest Int Return':'Longest_Int_Return'})
def_stats_df.head()

,id,First_Name,Last_Name,Position,Year,Team,Games_Played,Total_Tackles,Solo_Tackles,Assisted_Tackles,Sacks,Safties,Passes_Defended,Ints,Ints_for_TDs,Int_Yards,Yards Per Int,Longest_Int_Return
0,79593,Quinn,Johnson,NaN,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
1,79593,Quinn,Johnson,NaN,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--,0.0,--
2,79593,Quinn,Johnson,NaN,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
3,79593,Quinn,Johnson,NaN,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--,0.0,--
4,79593,Quinn,Johnson,NaN,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--,0.0,--

In [104]:
def_stats_df[[
           'Total_Tackles', 
              'Solo_Tackles', 
              'Assisted_Tackles',
               'Sacks', 
              'Safties', 
              'Passes_Defended', 
              'Ints', 
              'Ints_for_TDs',
               'Int_Yards', 
              'Longest_Int_Return']] = def_stats_df[[
           'Total_Tackles', 
              'Solo_Tackles', 
              'Assisted_Tackles',
               'Sacks', 
              'Safties', 
              'Passes_Defended', 
              'Ints', 
              'Ints_for_TDs',
               'Int_Yards', 
              'Longest_Int_Return']].apply(pd.to_numeric, errors='coerce')

In [105]:
id = pass_stats['Player Id'].str.split('/', n=1, expand=True)
pass_stats['id'] = id[1]

name = pass_stats['Name'].str.split(', ', n=1, expand=True)
pass_stats['First Name'] = name[1]
pass_stats['Last Name'] = name[0]

In [106]:
pass_stats_df = pass_stats[['id',
                            'First Name',
                            'Last Name',
                            'Position',
                            'Year', 'Team',
                            'Games Played',
                            'Passes Attempted',
                            'Passes Completed',
                            'Completion Percentage',
                           'Pass Attempts Per Game',
                            'Passing Yards',
                            'Passing Yards Per Attempt',
                           'Passing Yards Per Game',
                            'TD Passes',
                            'Percentage of TDs per Attempts',
                               'Ints',
                            'Int Rate',
                            'Longest Pass',
                            'Passes Longer than 20 Yards',
                               'Passes Longer than 40 Yards',
                            'Sacks',
                            'Sacked Yards Lost',
                            'Passer Rating']]

In [107]:
pass_stats_df = pass_stats_df.rename(columns={'First Name':'First_Name',
                            'Last Name':'Last_Name',
                            'Games Played':'Games_Played',
                            'Passes Attempted':'Passes_Attempted',
                            'Passes Completed':'Passes_Completed',
                            'Completion Percentage':'Completion_Percentage',
                            'Pass Attempts Per Game':'Pass_Attempts_Per_Game',
                            'Passing Yards':'Passing_Yards',
                            'Passing Yards Per Attempt':'Passing_Yards_Per_Attempt',
                            'Passing Yards Per Game':'Passing_Yards_Per_Game',
                            'TD Passes':'TD_Passes',
                            'Percentage of TDs per Attempts':'Percentage_of_TDs_per_Attempts',
                            'Int Rate':'Int_Rate',
                            'Longest Pass':'Longest_Pass',
                            'Passes Longer than 20 Yards':'Passes_Longer_than_20_Yards',
                            'Passes Longer than 40 Yards':'Passes_Longer_than_40_Yards',
                            'Sacked Yards Lost':'Sacked_Yards_Lost',
                            'Passer Rating':'Passer_Rating'})
pass_stats_df.head()

,id,First_Name,Last_Name,Position,Year,Team,Games_Played,Passes_Attempted,Passes_Completed,Completion_Percentage,...,TD_Passes,Percentage_of_TDs_per_Attempts,Ints,Int_Rate,Longest_Pass,Passes_Longer_than_20_Yards,Passes_Longer_than_40_Yards,Sacks,Sacked_Yards_Lost,Passer_Rating
0,2513861,Tom,Farris,NaN,1948,Chicago Rockets,0,--,--,--,...,--,--,--,--,--,--,--,--,--,0.0
1,2513861,Tom,Farris,NaN,1947,Chicago Bears,9,2,0,0.0,...,0,0.0,0,0.0,--,0,0,0,0,39.6
2,2513861,Tom,Farris,NaN,1946,Chicago Bears,11,21,8,38.1,...,1,4.8,2,9.5,--,0,0,0,0,31.5
3,2512778,Bill,Demory,NaN,1974,New York Jets,1,--,--,--,...,--,--,--,--,--,--,--,--,--,0.0
4,2512778,Bill,Demory,NaN,1973,New York Jets,6,39,12,30.8,...,2,5.1,8,20.5,--,0,0,8,73,22.2

In [108]:
pass_stats_df[['Passes_Attempted', 'Passes_Completed',
       'Completion_Percentage', 'Passing_Yards',
       'Passing_Yards_Per_Attempt', 'Passing_Yards_Per_Game', 'TD_Passes',
       'Percentage_of_TDs_per_Attempts', 'Ints', 'Int_Rate', 'Longest_Pass',
       'Passes_Longer_than_20_Yards', 'Passes_Longer_than_40_Yards', 'Sacks',
       'Sacked_Yards_Lost']] = pass_stats_df[['Passes_Attempted', 'Passes_Completed',
       'Completion_Percentage', 'Passing_Yards',
       'Passing_Yards_Per_Attempt', 'Passing_Yards_Per_Game', 'TD_Passes',
       'Percentage_of_TDs_per_Attempts', 'Ints', 'Int_Rate', 'Longest_Pass',
       'Passes_Longer_than_20_Yards', 'Passes_Longer_than_40_Yards', 'Sacks',
       'Sacked_Yards_Lost']].apply(pd.to_numeric, errors='coerce')

In [109]:
id = rush_stats['Player Id'].str.split('/', n=1, expand=True)
rush_stats['id'] = id[1]

name = rush_stats['Name'].str.split(', ', n=1, expand=True)
rush_stats['First Name'] = name[1]
rush_stats['Last Name'] = name[0]

In [110]:
rush_stats_df = rush_stats[['id', 
                            'First Name', 
                            'Last Name',
                            'Position', 
                            'Year', 
                            'Team', 
                            'Games Played',
                            'Rushing Attempts', 
                            'Rushing Attempts Per Game', 
                            'Rushing Yards',
                           'Yards Per Carry', 
                            'Rushing Yards Per Game', 
                            'Rushing TDs',
                           'Longest Rushing Run', 
                            'Rushing First Downs',
                           'Percentage of Rushing First Downs', 
                            'Rushing More Than 20 Yards',
                            'Rushing More Than 40 Yards', 
                            'Fumbles']]

In [111]:
rush_stats_df = rush_stats_df.rename(columns = {'First Name':'First_Name',
                    'Last Name':'Last_Name',
                    'Games Played':'Games_Played',
                    'Rushing Attempts':'Rushing_Attempts',
                    'Rushing Attempts Per Game':'Rushing_Attempts_Per_Game',
                    'Rushing Yards':'Rushing_Yards',
                    'Yards Per Carry':'Yards_Per_Carry',
                    'Rushing Yards Per Game':'Rushing_Yards_Per_Game',
                    'Rushing TDs':'Rushing_TDs',
                    'Longest Rushiing Run':'Longest_Rushing_Run',
                    'Rushing First Downs':'Rushing_First_Downs',
                    'Percentage of Rushing First Downs':'Percentage_of_Rushing_First_Downs',
                    'Rushing More Than 20 Yards':'Rushing_More_Than_20_Yards',
                    'Rushing More Than 40 Yards':'Rushing_More_Than_40_Yards'})

In [112]:
rush_stats_df[['Rushing_Attempts',
       'Rushing_Yards', 'Yards_Per_Carry', 'Rushing_Yards_Per_Game',
       'Rushing_TDs', 'Longest Rushing Run', 'Rushing_First_Downs',
       'Percentage_of_Rushing_First_Downs', 'Rushing_More_Than_20_Yards',
       'Rushing_More_Than_40_Yards', 'Fumbles']] = rush_stats_df[['Rushing_Attempts',
       'Rushing_Yards', 'Yards_Per_Carry', 'Rushing_Yards_Per_Game',
       'Rushing_TDs', 'Longest Rushing Run', 'Rushing_First_Downs',
       'Percentage_of_Rushing_First_Downs', 'Rushing_More_Than_20_Yards',
       'Rushing_More_Than_40_Yards', 'Fumbles']].apply(pd.to_numeric, errors='coerce')
rush_stats_df.head()

,id,First_Name,Last_Name,Position,Year,Team,Games_Played,Rushing_Attempts,Rushing_Attempts_Per_Game,Rushing_Yards,Yards_Per_Carry,Rushing_Yards_Per_Game,Rushing_TDs,Longest Rushing Run,Rushing_First_Downs,Percentage_of_Rushing_First_Downs,Rushing_More_Than_20_Yards,Rushing_More_Than_40_Yards,Fumbles
0,2513736,Fred,Evans,NaN,1948,Chicago Bears,3,10.0,3.3,15.0,1.5,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2513736,Fred,Evans,NaN,1948,Chicago Rockets,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2513736,Fred,Evans,NaN,1947,Chicago Rockets,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2513736,Fred,Evans,NaN,1947,Buffalo Bills,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2513736,Fred,Evans,NaN,1946,Cleveland Browns,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
id = rec_stats['Player Id'].str.split('/', n=1, expand=True)
rec_stats['id'] = id[1]

name = rec_stats['Name'].str.split(', ', n=1, expand=True)
rec_stats['First Name'] = name[1]
rec_stats['Last Name'] = name[0]

In [114]:
rec_stats_df = rec_stats[['id', 
                          'First Name', 
                          'Last Name',
                          'Position', 
                          'Year', 
                          'Team', 
                          'Games Played',
                           'Receptions', 
                          'Receiving Yards', 
                          'Yards Per Reception',
                           'Yards Per Game', 
                          'Longest Reception', 
                          'Receiving TDs',
                           'Receptions Longer than 20 Yards', 
                          'Receptions Longer than 40 Yards',
                           'First Down Receptions', 
                          'Fumbles']]

In [115]:
rec_stats_df = rec_stats_df.rename(columns={'First Name':'First_Name', 
                          'Last Name':'Last_Name',
                          'Games Played':'Games_Played',
                          'Receiving Yards':'Receiving_Yards', 
                          'Yards Per Reception':'Yards_Per_Reception',
                           'Yards Per Game':'Yards_Per_Game', 
                          'Longest Reception':'Longest_Reception', 
                          'Receiving TDs':'Receiving_TDs',
                           'Receptions Longer than 20 Yards': 'Receptions_Longer_than_20_Yards', 
                          'Receptions Longer than 40 Yards': 'Receptions_Longer_than_40_Yards',
                           'First Down Receptions':'First_Down_Receptions'})
rec_stats_df.head()

,id,First_Name,Last_Name,Position,Year,Team,Games_Played,Receptions,Receiving_Yards,Yards_Per_Reception,Yards_Per_Game,Longest_Reception,Receiving_TDs,Receptions_Longer_than_20_Yards,Receptions_Longer_than_40_Yards,First_Down_Receptions,Fumbles
0,2513736,Fred,Evans,NaN,1948,Chicago Bears,3,1,-2,-2.0,-0.7,--,0,--,--,--,--
1,2513736,Fred,Evans,NaN,1948,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
2,2513736,Fred,Evans,NaN,1947,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
3,2513736,Fred,Evans,NaN,1947,Buffalo Bills,0,--,--,--,0.0,--,--,--,--,--,--
4,2513736,Fred,Evans,NaN,1946,Cleveland Browns,0,--,--,--,0.0,--,--,--,--,--,--

In [116]:
rec_stats_df[['Receptions', 'Receiving_Yards', 'Yards_Per_Reception',
        'Longest_Reception', 'Receiving_TDs',
       'Receptions_Longer_than_20_Yards', 'Receptions_Longer_than_40_Yards',
       'First_Down_Receptions', 'Fumbles']] = rec_stats_df[['Receptions', 'Receiving_Yards', 'Yards_Per_Reception',
        'Longest_Reception', 'Receiving_TDs',
       'Receptions_Longer_than_20_Yards', 'Receptions_Longer_than_40_Yards',
       'First_Down_Receptions', 'Fumbles']].apply(pd.to_numeric, errors='coerce')

In [117]:
engine = create_engine('sqlite:///nfl_db.sqlite', echo=False)

In [118]:
basic_stats_df.to_sql(name='basic_stats', con=engine, if_exists='append', index=False)

In [119]:
def_stats_df.to_sql(name='def_stats', con=engine, if_exists='append', index=False)

In [120]:
rec_stats_df.to_sql(name='rec_stats', con=engine, if_exists='append', index=False)

In [121]:
pass_stats_df.to_sql(name='pass_stats', con=engine, if_exists='append', index=True)

In [122]:
rush_stats_df.to_sql(name='rush_stats', con=engine, if_exists='append', index=True)

In [123]:
engine.table_names()

['basic_stats', 'def_stats', 'pass_stats', 'rec_stats', 'rush_stats']

In [124]:
# def create_connection(db_file):
#     # create a database connection to a SQLite database 
#     conn = None
    
#     try:
#         conn = sqlite3.connect(db_file)
#         print(sqlite3.version)
        
#     except Error as e:
#         print(e)
        
#     finally:
#         if conn:
#             conn.close()
            
# if __name__ == '__main__':
#     create_connection(r"C:\sqlite\db\pythonsqlite.db")