In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
basic_file = 'Resources/Basic_Stats.csv'
basic_stats = pd.read_csv(basic_file)
basic_stats.head()

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

In [3]:
def_file = 'Resources/Career_Stats_Defensive.csv'
def_stats = pd.read_csv(def_file)
def_stats.head()

,Player Id,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
0,quinnjohnson/79593,"Johnson, Quinn",NaN,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
1,quinnjohnson/79593,"Johnson, Quinn",NaN,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--,0.0,--
2,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
3,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--,0.0,--
4,quinnjohnson/79593,"Johnson, Quinn",NaN,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--,0.0,--

In [4]:
pass_file = 'Resources/Career_Stats_Passing.csv'
pass_stats = pd.read_csv(pass_file)
pass_stats.head()

,Player Id,Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,...,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
0,tomfarris/2513861,"Farris, Tom",NaN,1948,Chicago Rockets,0,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
1,tomfarris/2513861,"Farris, Tom",NaN,1947,Chicago Bears,9,2,0,0.0,0.2,...,0,0.0,0,0.0,--,0,0,0,0,39.6
2,tomfarris/2513861,"Farris, Tom",NaN,1946,Chicago Bears,11,21,8,38.1,1.9,...,1,4.8,2,9.5,--,0,0,0,0,31.5
3,billdemory/2512778,"Demory, Bill",NaN,1974,New York Jets,1,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
4,billdemory/2512778,"Demory, Bill",NaN,1973,New York Jets,6,39,12,30.8,6.5,...,2,5.1,8,20.5,--,0,0,8,73,22.2

In [5]:
rec_file = 'Resources/Career_Stats_Receiving.csv'
rec_stats = pd.read_csv(rec_file)
rec_stats.head()

,Player Id,Name,Position,Year,Team,Games Played,Receptions,Receiving Yards,Yards Per Reception,Yards Per Game,Longest Reception,Receiving TDs,Receptions Longer than 20 Yards,Receptions Longer than 40 Yards,First Down Receptions,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,1,-2,-2.0,-0.7,--,0,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,--,--,0.0,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,--,--,0.0,--,--,--,--,--,--

In [6]:
rush_file = 'Resources/Career_Stats_Rushing.csv'
rush_stats = pd.read_csv(rush_file)
rush_stats.head()

,Player Id,Name,Position,Year,Team,Games Played,Rushing Attempts,Rushing Attempts Per Game,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Longest Rushing Run,Rushing First Downs,Percentage of Rushing First Downs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,10,3.3,15,1.5,5.0,0,--,--,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,0.0,--,--,--,--,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,0.0,--,--,--,--,--,--,--,--,--,--

### Brainstorming for data cleaning

In [7]:
print(f'Basic Stats: {basic_stats.columns}')
print(f'Def Stats: {def_stats.columns}')
print(f'Pass Stats: {pass_stats.columns}')
print(f'Rec Stats: {rec_stats.columns}')
print(f'Rush Stats: {rush_stats.columns}')

Basic Stats: Index(['Age', 'Birth Place', 'Birthday', 'College', 'Current Status',
       'Current Team', 'Experience', 'Height (inches)', 'High School',
       'High School Location', 'Name', 'Number', 'Player Id', 'Position',
       'Weight (lbs)', 'Years Played'],
      dtype='object')
Def Stats: Index(['Player Id', 'Name', 'Position', 'Year', 'Team', 'Games Played',
       'Total Tackles', 'Solo Tackles', 'Assisted Tackles', 'Sacks', 'Safties',
       'Passes Defended', 'Ints', 'Ints for TDs', 'Int Yards', 'Yards Per Int',
       'Longest Int Return'],
      dtype='object')
Pass Stats: Index(['Player Id', 'Name', 'Position', 'Year', 'Team', 'Games Played',
       'Passes Attempted', 'Passes Completed', 'Completion Percentage',
       'Pass Attempts Per Game', 'Passing Yards', 'Passing Yards Per Attempt',
       'Passing Yards Per Game', 'TD Passes', 'Percentage of TDs per Attempts',
       'Ints', 'Int Rate', 'Longest Pass', 'Passes Longer than 20 Yards',
       'Passes Longer than 40 Yards', 'Sacks', 'Sacked Yards Lost',
       'Passer Rating'],
      dtype='object')
Rec Stats: Index(['Player Id', 'Name', 'Position', 'Year', 'Team', 'Games Played',
       'Receptions', 'Receiving Yards', 'Yards Per Reception',
       'Yards Per Game', 'Longest Reception', 'Receiving TDs',
       'Receptions Longer than 20 Yards', 'Receptions Longer than 40 Yards',
       'First Down Receptions', 'Fumbles'],
      dtype='object')
Rush Stats: Index(['Player Id', 'Name', 'Position', 'Year', 'Team', 'Games Played',
       'Rushing Attempts', 'Rushing Attempts Per Game', 'Rushing Yards',
       'Yards Per Carry', 'Rushing Yards Per Game', 'Rushing TDs',
       'Longest Rushing Run', 'Rushing First Downs',
       'Percentage of Rushing First Downs', 'Rushing More Than 20 Yards',
       'Rushing More Than 40 Yards', 'Fumbles'],
      dtype='object')

In [8]:
basic_stats_df = basic_stats[['Player Id',
                                   'Name',
                                   'Age', 
                                   'Birth Place', 
                                   'Birthday', 
                                   'College', 
                                   'Height (inches)', 
                                   'Weight (lbs)']]
basic_stats_df

,Player Id,Name,Age,Birth Place,Birthday,College,Height (inches),Weight (lbs)
0,fredevans/2513736,"Evans, Fred",NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,71.0,185.0
1,jimraiff/2523700,"Raiff, Jim",NaN,"Dayton , OH",12/21/1930,Dayton,70.0,235.0
2,bobbyfowler/2514295,"Fowler, Bobby",56.0,"Temple , TX",9/11/1960,Louisiana Tech,74.0,230.0
3,quinnjohnson/79593,"Johnson, Quinn",30.0,"New Orleans , LA",9/30/1986,LSU,73.0,255.0
4,l.t.walton/2552444,"Walton, L.T.",25.0,"Detroit , MI",3/31/1992,Central Michigan,77.0,305.0
...,...,...,...,...,...,...,...,...
17167,rongoovert/2515082,"Goovert, Ron",73.0,"Detroit , MI",2/15/1944,Michigan State,71.0,225.0
17168,j.d.folsom/238485,"Folsom, J.D.",32.0,"Worland , WY",8/19/1984,Weber State,75.0,230.0
17169,jamiereader/2502599,"Reader, Jamie",43.0,"Washington , DC",5/4/1974,Akron,72.0,238.0
17170,solonbarnett/2509044,"Barnett, Solon",NaN,"New Willard , TX",3/30/1921,Baylor,73.0,235.0
17171,byronjohnson/2517578,"Johnson, Byron",54.0,"Bryan , TX",10/21/1962,Baylor,73.0,220.0

In [9]:
id = basic_stats_df['Player Id'].str.split('/', n=1, expand=True)
basic_stats_df['id'] = id[1]

name = basic_stats_df['Name'].str.split(', ', n=1, expand=True)
basic_stats_df['First Name'] = name[1]
basic_stats_df['Last Name'] = name[0]

C:\Users\trevo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\trevo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\trevo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
basic_stats_df = basic_stats_df[['id',
                                   'First_Name',
                                    'Last_Name',
                                   'Age', 
                                   'Birth_Place', 
                                   'Birthday', 
                                   'College', 
                                   'Height(inches)', 
                                   'Weight(lbs)']]
basic_stats_df.head()

,id,First Name,Last Name,Age,Birth Place,Birthday,College,Height (inches),Weight (lbs)
0,2513736,Fred,Evans,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,71.0,185.0
1,2523700,Jim,Raiff,NaN,"Dayton , OH",12/21/1930,Dayton,70.0,235.0
2,2514295,Bobby,Fowler,56.0,"Temple , TX",9/11/1960,Louisiana Tech,74.0,230.0
3,79593,Quinn,Johnson,30.0,"New Orleans , LA",9/30/1986,LSU,73.0,255.0
4,2552444,L.T.,Walton,25.0,"Detroit , MI",3/31/1992,Central Michigan,77.0,305.0

In [11]:
id = def_stats['Player Id'].str.split('/', n=1, expand=True)
def_stats['id'] = id[1]

name = def_stats['Name'].str.split(', ', n=1, expand=True)
def_stats['First Name'] = name[1]
def_stats['Last Name'] = name[0]

In [12]:
def_stats_df = def_stats[['id', 
                          'First_Name', 
                          'Last _Name', 
                          'Position', 
                          'Year', 
                          'Team', 
                          'Games_Played',
                        'Total_Tackles', 
                          'Solo_Tackles', 
                          'Assisted_Tackles', 
                          'Sacks', 
                          'Safties',
                           'Passes_Defended', 
                          'Ints', 
                          'Ints_for_TDs', 
                          'Int_Yards', 
                          'Yards_Per_Int',
                           'Longest_Int_Return']]

def_stats_df.head()

,id,First Name,Last Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
0,79593,Quinn,Johnson,NaN,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
1,79593,Quinn,Johnson,NaN,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--,0.0,--
2,79593,Quinn,Johnson,NaN,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
3,79593,Quinn,Johnson,NaN,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--,0.0,--
4,79593,Quinn,Johnson,NaN,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--,0.0,--

In [13]:
id = pass_stats['Player Id'].str.split('/', n=1, expand=True)
pass_stats['id'] = id[1]

name = pass_stats['Name'].str.split(', ', n=1, expand=True)
pass_stats['First Name'] = name[1]
pass_stats['Last Name'] = name[0]

In [14]:
pass_stats_df = pass_stats[['id', 
                            'First_Name', 
                            'Last_Name',
                            'Position', 
                            'Year', 'Team', 
                            'Games_Played',
                            'Passes_Attempted', 
                            'Passes_Completed', 
                            'Completion_Percentage',
                           'Pass_Attempts_Per_Game', 
                            'Passing_Yards', 
                            'Passing_Yards_Per_Attempt',
                           'Passing_Yards_Per_Game', 
                            'TD_Passes', 
                            'Percentage_of_TDs_per_Attempts',
                               'Ints',
                            'Int_Rate', 
                            'Longest_Pass', 
                            'Passes_Longer_than_20_Yards',
                               'Passes_Longer_than_40_Yards', 
                            'Sacks', 
                            'Sacked_Yards_Lost',
                            'Passer_Rating']]

pass_stats_df.head()

,id,First Name,Last Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,...,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
0,2513861,Tom,Farris,NaN,1948,Chicago Rockets,0,--,--,--,...,--,--,--,--,--,--,--,--,--,0.0
1,2513861,Tom,Farris,NaN,1947,Chicago Bears,9,2,0,0.0,...,0,0.0,0,0.0,--,0,0,0,0,39.6
2,2513861,Tom,Farris,NaN,1946,Chicago Bears,11,21,8,38.1,...,1,4.8,2,9.5,--,0,0,0,0,31.5
3,2512778,Bill,Demory,NaN,1974,New York Jets,1,--,--,--,...,--,--,--,--,--,--,--,--,--,0.0
4,2512778,Bill,Demory,NaN,1973,New York Jets,6,39,12,30.8,...,2,5.1,8,20.5,--,0,0,8,73,22.2

In [15]:
id = rush_stats['Player Id'].str.split('/', n=1, expand=True)
rush_stats['id'] = id[1]

name = rush_stats['Name'].str.split(', ', n=1, expand=True)
rush_stats['First Name'] = name[1]
rush_stats['Last Name'] = name[0]

In [16]:
rush_stats_df = rush_stats[['id', 
                            'First_Name', 
                            'Last_Name',
                            'Position', 
                            'Year', 
                            'Team', 
                            'Games_Played',
                            'Rushing_Attempts', 
                            'Rushing_Attempts_Per_Game', 
                            'Rushing_Yards',
                           'Yards_Per_Carry', 
                            'Rushing_Yards_Per_Game', 
                            'Rushing_TDs',
                           'Longest_Rushing_Run', 
                            'Rushing_First_Downs',
                           'Percentage_of_Rushing_First_Downs', 
                            'Rushing_More_Than_20_Yards',
                            'Rushing_More_Than_40_Yards', 
                            'Fumbles']]

rush_stats_df.head()

,id,First Name,Last Name,Position,Year,Team,Games Played,Rushing Attempts,Rushing Attempts Per Game,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Longest Rushing Run,Rushing First Downs,Percentage of Rushing First Downs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
0,2513736,Fred,Evans,NaN,1948,Chicago Bears,3,10,3.3,15,1.5,5.0,0,--,--,--,--,--,--
1,2513736,Fred,Evans,NaN,1948,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
2,2513736,Fred,Evans,NaN,1947,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
3,2513736,Fred,Evans,NaN,1947,Buffalo Bills,0,--,0.0,--,--,--,--,--,--,--,--,--,--
4,2513736,Fred,Evans,NaN,1946,Cleveland Browns,0,--,0.0,--,--,--,--,--,--,--,--,--,--

In [17]:
id = rec_stats['Player Id'].str.split('/', n=1, expand=True)
rec_stats['id'] = id[1]

name = rec_stats['Name'].str.split(', ', n=1, expand=True)
rec_stats['First Name'] = name[1]
rec_stats['Last Name'] = name[0]

In [18]:
rec_stats_df = rec_stats[['id', 
                          'First_Name', 
                          'Last_Name',
                          'Position', 
                          'Year', 
                          'Team', 
                          'Games_Played',
                           'Receptions', 
                          'Receiving_Yards', 
                          'Yards_Per_Reception',
                           'Yards_Per_Game', 
                          'Longest_Reception', 
                          'Receiving_TDs',
                           'Receptions_Longer_than_20_Yards', 
                          'Receptions_Longer_than_40_Yards',
                           'First_Down_Receptions', 
                          'Fumbles']]
rec_stats_df.head()

,id,First Name,Last Name,Position,Year,Team,Games Played,Receptions,Receiving Yards,Yards Per Reception,Yards Per Game,Longest Reception,Receiving TDs,Receptions Longer than 20 Yards,Receptions Longer than 40 Yards,First Down Receptions,Fumbles
0,2513736,Fred,Evans,NaN,1948,Chicago Bears,3,1,-2,-2.0,-0.7,--,0,--,--,--,--
1,2513736,Fred,Evans,NaN,1948,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
2,2513736,Fred,Evans,NaN,1947,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
3,2513736,Fred,Evans,NaN,1947,Buffalo Bills,0,--,--,--,0.0,--,--,--,--,--,--
4,2513736,Fred,Evans,NaN,1946,Cleveland Browns,0,--,--,--,0.0,--,--,--,--,--,--

In [19]:
bouye = def_stats.loc[(def_stats['Player Id']== 'a.j.bouye/2541162'), :]
bouye

,Player Id,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return,id,First Name,Last Name
13467,a.j.bouye/2541162,"Bouye, A.J.",CB,2016,Houston Texans,15,63,48,15,1.0,--,16,1,0,0,0.0,0,2541162,A.J.,Bouye
13468,a.j.bouye/2541162,"Bouye, A.J.",CB,2015,Houston Texans,15,16,15,1,0.0,--,6,2,0,9,4.5,9,2541162,A.J.,Bouye
13469,a.j.bouye/2541162,"Bouye, A.J.",CB,2014,Houston Texans,14,59,52,7,0.0,0,10,3,1,120,40.0,67,2541162,A.J.,Bouye
13470,a.j.bouye/2541162,"Bouye, A.J.",CB,2013,Houston Texans,6,2,2,0,0.0,--,0,--,--,--,0.0,--,2541162,A.J.,Bouye

In [20]:
# Sum of these defensive stats  **must reset_index() to keep Player Id as a column
defense = def_stats_gb[['Games Played',
       'Total Tackles', 'Solo Tackles', 'Assisted Tackles', 'Sacks', 'Safties',
       'Passes Defended', 'Ints', 'Ints for TDs', 'Int Yards', 'Yards Per Int',
       'Longest Int Return']].sum().reset_index()

print(defense.head())

# Max of these defensive stats
defense1 = def_stats_gb[['Yards Per Int',
       'Longest Int Return']].max().reset_index()

print(defense1.head())

# Recombine into new stats DF
defense_df = pd.merge(defense, defense1, on='Player Id', how='inner')
defense_df

NameError: name 'def_stats_gb' is not defined